<% if current_user %>
	<% if !current_user.twitter_credentials.blank? %>
		<table>
			<tr>
				<th>Provider</th>
				<th> Name</th>
				<th>Action</th>
			</tr>
			
			<%= render :partial => "twitter_credentials", :collection => current_user.twitter_credentials, :as => :tw %>
		</table>
	<% end %>

	<%= link_to "Add twitter account", "auth/twitter"%>
<%else%>
	<p>Login first to move further!</p>
<% end %>